{
  "openapi": "3.1.0",
  "info": {
    "title": "Deliverable Docs API",
    "description": "API for email verification and task status.",
    "license": { "name": "MIT" },
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://sit-api.deliverable.com" }],
  "security": [{ "apiKeyAuth": [] }],
  "paths": {
    "/verify-email/single": {
      "post": {
        "summary": "Verify single email",
        "description": "Submits an email for verification. Returns a task ID to check status via the get email task status endpoint. Consumes credits. Requires valid API key and active subscription.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifySingleEmailRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email added to queue successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifySingleEmailResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Subscription expired or payment required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/verify-email/status": {
      "post": {
        "summary": "Get email task status",
        "description": "Returns the verification status for a task created by the verify single email endpoint. Task ID is required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GetEmailTaskStatusRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task status (pending or success with result)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/EmailTaskStatusPendingResponse" },
                    { "$ref": "#/components/schemas/EmailTaskStatusSuccessResponse" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Task ID is required or invalid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Subscription expired or payment required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VerifySingleEmailRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to verify"
          }
        }
      },
      "VerifySingleEmailResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Email added to queue successfully" },
          "data": {
            "type": "object",
            "properties": {
              "task_id": { "type": "string", "description": "ID to use with get email task status" }
            }
          }
        }
      },
      "GetEmailTaskStatusRequest": {
        "type": "object",
        "required": ["task_id"],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Task ID returned from verify single email"
          }
        }
      },
      "EmailTaskStatusPendingResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Email task is still processing" },
          "data": {
            "type": "object",
            "properties": {
              "task_id": { "type": "string" },
              "processing_status": { "type": "string", "enum": ["pending"] }
            }
          }
        }
      },
      "EmailTaskStatusSuccessResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Email task status fetched successfully" },
          "data": {
            "type": "object",
            "properties": {
              "task_id": { "type": "string" },
              "email": { "type": "string", "format": "email" },
              "email_status": { "type": "string", "description": "Verification result for the email" },
              "is_catch_all": { "type": "boolean" },
              "processing_status": { "type": "string", "enum": ["success"] }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    }
  }
}
